/*全体的な設定*/
*{
    padding:0;
    margin: 0;
}

html{
    height:100%;
}

body{
    margin:0;
    height: 100%;
}

#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button{
    border: none;
    cursor: pointer;
}

li{
    list-style:none;
}

a{
    color: black;
    text-decoration:none;
}

.container{
    width:1024px;
    padding:0 15px;
    margin:0 auto;
}

.message-wrapper,.price-wrapper,.profile-wrapper{
    background-color: #eeeeee;
}

.btn{
    color: white;
    background-color: #e65100;
    border-radius:4px;
}

.heading{
    margin: 60px 0;
}

.heading h1{
    margin-bottom: 0;
}

.heading h3{
    margin-top: 0;
}

.clear{
    clear:left;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    border-color: #cccccc;
}

th{
    font-weight: normal;
    background-color: #FFECB3;
    width: 25%;
    border: solid 1px #CCBD8F;
    padding:10px 15px;
}

td{
    background-color: white;
    width: 75%;
    border: solid 1px #cccccc;
    padding: 10px 15px;
}

td span{
    font-size: 24px;
    font-weight: bold;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*ヘッダーのCSS*/
header{
    width: 100%;
    height: 65px;
    background-color: white;
    border-bottom:2px solid  #efa336;
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 2px gray;
}

/*ヘッダー左*/
.header-left{
    text-align: center;
    float:left;
    height: 100%;
    line-height: 1em;
    margin-top: 20px;
}

.header-left a{
    font-size: 28px;
    font-weight: bold;
    text-shadow:1px 1px 3px #DFDFDF;
}

.header-left:hover{
    opacity:0.5;
}

.logo-orange{
    color: #e65100;
}

.yomi{
    font-size:12px;
}


/*ヘッダー右*/
.header-right{
    margin-top:20px;
    float: right;
}

.header-right li{
    float: left;
}

.header-right li:hover{
    opacity: 0.5;
}

header li a{   
    padding:23px;
    margin-right: 2px;
}

.head-consul{
    padding:10px 15px;
    margin-left: 3px;
}


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*top-wrapperのCSS*/
.top-wrapper{
    text-align:center;
    background: repeating-linear-gradient(45deg,#FFECB3 0,#FFECB3 15px,#FFFFCD 15px,#FFFFCD 30px);
}

.top-message{
    padding-top: 120px;
}




/*-----------------------------------------------*/
.weight-txt{
    font-size:20px;
    font-weight: bold;
}

/*-----------------------------------------------*/
.top-elements{
    display: table;
    padding-bottom: 80px;
}

.u-yellow{
    background: linear-gradient(transparent 50%,yellow 50%);
}

.top-element1{
    display:table-cell;
    width: 70%;
}

.top-feature ul{
    margin-top: 40px;
}

.top-feature li{
    font-weight: bold;
    font-size: 28px;
    text-align: left;
}

.fa-check{
    color: #EFA336;
    font-size: 1.5em;
}

.coconala{
    text-align: right;
}

.tococonala{
    text-decoration: underline;
}

.consul{
    margin-top: 50px;
    padding: 30px 80px;
    border-radius:10px;
}

.consul p{
    font-size: 20px;
    float: left;
}

.caret{
    position: relative;
    top: 20px;
    left:70px;
}



/*-----------------------------------------------*/
.top-element2{
    display: table-cell;
    width: 30%;
}

.top-coment{
    position: relative;
    top: 160px;
}

.balloon-txt {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 15px 10px;
    min-width: 120px;
    max-width: 85%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 2px #BDBDBD;
    box-sizing: border-box;
    border-radius: 7px;
  }
  
.balloon-txt:before {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-top: 12px solid #FFF;
    z-index: 2;
  }
  
.balloon-txt:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #BDBDBD;
    z-index: 1;
  }
  
.balloon-txt p {
    margin: 0;
    padding: 0;
    text-align: left;
  }

