/*skill-wrapperのCSS*/
.skill-wrapper{
    text-align:center;
}

/*-----------------------------------------------*/
.skills{
    margin-bottom: 150px;
}

.skill{
    float:left;
    width: calc(100%/3);
}

.web{
    border-bottom:solid 3px #E44D26;
}

.wordpress{
    border-bottom:solid 3px #0073AA;
}

.responsive{
    border-bottom:solid 3px #FFD966;
}

.skill-icon{
    margin:50px 0;
}

.skill-txt{
    width: 90%;
    display:inline-block;
}

.skill-txt p{
    text-align: left;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*message-wrapperのCSS*/
.message-wrapper{
    text-align: center;
}

.messages{
    margin-bottom:130px;
}

.message{
    width:50%;
    float:left;
}

.message h2{
    margin-bottom: 20px;
}

.message p{
    width: 90%;
    text-align: left;
    margin: 0 auto;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*portfolio-wrapperのCSS*/
.portfolio-wrapper{
    text-align: center;
}

.portfolio-wrapper img{
    margin-bottom: 80px;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*price-wrapperのCSS*/
.price-wrapper{
    text-align: center;
}

.price-table{
    margin-bottom: 80px;
}

.price-table p{
    text-align: left;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*concept-wrapperのCSS*/
.concept-wrapper{
    text-align: center;
}

.concept-txt{
    width:47%;
    text-align: left;
    margin:0 auto;
    padding-bottom: 80px;
}

.concept-txt p{
    line-height: 2em;
    padding-bottom: 25px;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*profile-wrapperのCSS*/
.profile-wrapper{
    text-align: center;
}

.profile-table{
    width:80%;
    float: left;
}



.profile-table th{
    width:30%;
}

.profile-table td{
    width: 70%;
}

.profile-contents{
    margin-bottom: 60px;
}

/*-----------------------------------------------*/

.profile-right{
    float: left;
}

.profile-icons{
    position: relative;
    top:25px;
    left: 25px;
}

.profile-circle{
    width: 140px;
    height:140px;
    border-radius: 50%;
    background: white;
    line-height:80px;
    color: white;
    font-size: 40px;
    margin-right: 25px;
}

.profile-circle img{
    position: relative;
    top: 15px;
}

.profile-icon{
    width:85%;
    position: relative;
    top:15px;
    display:flex;
    justify-content: space-around;
}

.profile-icon a{
    display: inline-block;
}

.profile-icon .fab{
    font-size: 1.5em;
}

.fa-twitter{
    color: #1B95E0;
}

.fa-facebook-f{
    color: #3B5998;
}

.fa-github{
    color: #4183C4;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*promise-wrapperのCSS*/
.promise-wrapper{
    text-align: center;
}

.promise{
    margin-bottom:50px;
}

.num-icon{
    display: table-cell;
    float: left;
}

.num-circle{
    width: 80px;
    height:80px;
    border-radius: 50%;
    background: #EFA336;
    text-align: center;
    line-height:80px;
    color: white;
    font-size: 40px;
    margin-right: 25px;
}

.promise-message{
    display: table-cell;
    text-align: left;
}

.promise-message h3{
    margin-bottom: 0;
}

.output{
    position: relative;
    right:230px;
}

.output a{
    margin-right:15px;
}

.promises{
    padding-bottom:120px;
}

.promise-last{
    margin-bottom:25px;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*contact-wrapperのCSS*/
.contact-wrapper{
    text-align: center;
    background-color: #EFA336;
}

.contact-form p{
    line-height: 1em;
}

input,textarea{
    width: 30%;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    appearance: default;
    line-height: 1.5em;
    border: none;
}

.contact-submit{
    width: 31%;
    padding:20px 0;
}

.contact-submit:hover{
    opacity:0.5;
    cursor: pointer;
}

.contact-form{
    padding-bottom: 80px;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*footerのCSS*/
footer{
    text-align: center;
    background-color: #666666;
    color: white;
    margin-top: auto;
}


